<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div ng-app="hd" ng-controller="ctrl">
        {{name}} <input type="text" ng-model="name">
        <hr>
        <hdcms></hdcms>
        <hr>
        <hdcms></hdcms>
    </div>
    <script>
    var m = angular.module('hd', []);
    m.directive('hdcms', [function () {
        return {
            restrict: 'AEC',//a attr e element  c class  scope
            template: '{{name}} <input type="text" ng-model="name">',
            scope: {}
        }
    }]);
    m.controller('ctrl', ['$scope', function ($scope) {
        $scope.name = '后盾人';
    }]);
    </script>

</body>
</html>